* {
  font-family: 'Montserrat', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 540px;
}

.title {
  text-align: center;
  padding: 48px 0;
  font-size: 48px;
  font-weight: lighter;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: auto;
}

.button {
  max-width: 120px;
}

.row {
  display: flex;
  flex-direction: row;
  margin: auto;
}
